#pN4{
    background: linear-gradient(90deg,rgb(218, 155, 255),rgb(132, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;
}
#div_id8{
    left: 95%;
}
#window9{
    visibility: hidden;
    opacity: 0;
    width: 600px;
    height: 400px;
}
#window9.Tpcshow{
    visibility: visible;
    opacity: 1;
}
#CrashIcon{
    position: fixed;
    top: 7%;
    left: 8%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    touch-action: manipulation;
}
#CrashIcon:hover{
    background-color: rgb(255,255,255,0.2)
}
#ErrorIcon{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(183, 0, 255);
    width: 60%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
#CrashText{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 15px;
    font-weight: 200;
}
#PAndG{
    position: fixed;
    top: 50%;
    left: 4%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    width: 8%;
    height: 100%;
    transition: background-color 0.5s ease;
}
#PAndG:hover{
    background-color: rgb(233, 196, 255);
}
#PAndG:active{
    background-color: rgb(183, 146, 255);
}
#PAndGDiv{
    position: fixed;
    top: 65%;
    left: 40%;
    transform: translate(-50%,-50%) scale(0.9);
    background-color: #fdfdfd;
    border: 1px solid rgb(144, 89, 255);
    width: 70%;
    height: 50%;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}
#UserIcon1{
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    height: 30%;
}
#UserName1{
    position: fixed;
    top: 32.5%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-weight: 200;
}
#Program1PAGD{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    width: 90px;
    height: 90px;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}
#Program1PAGD:hover{
    background-color: rgb(223, 171, 255);
}
#Program1PAGD:hover #P1PAGDText{
    color: white;
}
#P1PAGDImage{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    overflow: hidden;
}
#P1PAGDText{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    white-space: nowrap;
    font-size: 15px;
    transition: color 0.5s ease;
}